<script>
  $(function() {
    var h1Element = $('h1');
    var h2Element = $('h2');
    var btnElement = $('button');

    btnElement.click(function() {
      $.get( "https://passion1-jay-johnson.herokuapp.com/places",
        function( data ) {
          var random = Math.floor(Math.random() * 92);
          console.log(random)
          var detail = data[random].info
          h2Element.html(detail);

        });
      



    });
    
  });
</script>

<br />
<div class="col-10 offset-1 text-center">
  <h1>Edward Snowden random leak generator</h1>
  <br />
  <%= image_tag "edward-snowden.jpg", class: "img-fluid center-img" %>
</div>
<br />



  <button class="btn btn-primary center-img">Leak</button>
  <br />

  <div class="booyah-box col-10 offset-1">
    <h2 class="text-center"></h2>
  </div>

  <br />

  <div class="col-10 offset-1 text-center">
    <h4>This site utilizes the <%= link_to "Snowden API", "http://passion1-jay-johnson.herokuapp.com" %> 
    </h4>
    <h5>Created by <%= link_to 'J', places_path %></h5>
  </div>